#HomeLayout
{
    margin-top: 200px;
    width: 100%;
    background-color: #dbe1dd;
}

#myfooter 
{
    bottom:0;
    left:0;
    background-color: #C5CEEA;
    width:100%;
}

#CardHeader
{
    color:aliceblue;
}
