#Logo
{
    margin-left:50px;
    width:250px;
    position:relative;
}
#UserName 
{
    margin-left: 650px;
    width: 250px;
    position: relative;
    top: 0px;
    left: 0px;
}
#LogOut
{
    margin-left: 800px;
    width: 250px;
    position: relative;
}

#Body
{
    margin-left:300px;
    width: 100%;
    position: relative;
}

#Footer {
    margin-left: 300px;
    width: 100%;
    position: relative;
}

