
body
{
    margin:0;
    padding:0;
    font-family:Verdana;
    background:#fff;
    overflow:hidden;
}


.SideBar
{
position:fixed;
top:0;
left:-250px;
background:#262626;
width:250px;
height:100%;
transition:3s;
}
.active{
    left:250px;
}

ul{
    margin:0;
    padding:20px 0;
}

ul li{
    list-style:none;
}

ul li a{
    padding:10px 20px;
    color:#fff;
    display:block;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,.2);

}

.ToggleButton{
    position:absolute;
    top:0;
    right:-50px;
    height:50px;
    width:50px;
    box-sizing:border-box;
    cursor:pointer;
    background:#f5f5f5;
    border:none;
    outline:none;
}

ToggleButton span{
    
    display:block;
    position:absolute;
    top:24px;
    width:35px;
    height:3px;
    background:#262626;
    transition:3s;
}

.ToggleButton span:before{
    content:'';
    position:absolute;
    top:-10px;
    left:0;
    width:100%;
    height:3px;
    background:#262626;
    transition:3s;
}
.ToggleButton span:after{
    content:'';
    position:absolute;
    top:10px;
    left:0;
    width:100%;
    height:3px;
    background:#262626;
    transition:3s;
}

.ToggleButton.toggle span{
    background:transparent;
}

